<li>
  <%= gravatar_for user, size: Settings.user.gravatar.users_list_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.destroy.delete"), user, method: :delete,
                                                   data: {confirm: t("users.destroy.delete_confirmation")} %>
  <% end %>
</li>
